.containerCreateArticle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-top: 20px;
    position: relative;
    margin-bottom: 30px;

    .containerTitle{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .title{
            width: 600px;
            height: 30px;
            margin-top: -14px;
            margin-left: 10px;
        }

        .title :hover{
            cursor: pointer;
        }
    
        .avatar{
            width: 50px;
            height: 50px;
            margin-top: 10px;
            margin-left: 10px;
        }
    }

    .buttonEditor{
        width: 200px;
        height: 50px;
        margin-top: 40px;
        margin-left: 10px;
        align-self: flex-start;
    }

    .containerEditorTool{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inputErrorTitle{
        position: absolute;
        top:80px;
        left: 80px;
        width: auto;
        color: red;
    }

    .inputErrorEditor{
        position: absolute;
        top:350px;
        left: 80px;
        width: auto;
        color: red;
    }

}